
body{ width: 900px; 
  margin: auto;
  font-size: 16px ;
  
 
  }
 h1{
    font-size: 35px;
    border-bottom: 1px solid rgb(153, 153, 153);
}
h2{display: none;}
#about h3{display :none;}
#about p{color:grey;}
figure{
        position: relative;
        float: right;  
        top:-70px;
        left:-20px;
        transform: rotate(-10deg);
     }
     img {
      width:150px;
      height:150px ;}

      #competencies h3{
       
        display: inline-block;
        padding-right: 9px;
        border-right: 1px solid black;
        height:90px;
        position: relative;
        bottom:-60px;
      }
      #competencies .skill{
       display: inline-block;
        margin:3px;
        background-color: rgba(1, 106, 129, 0.925);
        color:white;
        height: 20px;
        padding: 5px;
        position: relative;
        bottom:50px;
        left: 130px;
        width:110px
      }
        .skills-primary
        [data-skill="5"] span::after{content:"***";position: relative; bottom:-4px; float:right;
        }
        [data-skill="3"] span::after{content:"**";position: relative; bottom:-4px; float:right;
        }
        [data-skill="1"] span::after{content:"*";position: relative; bottom:-4px; float:right;
        }
        .skills-secondary{font-size:small;}
        [data-skill="9"] span::after{content:"******";position: relative; bottom:-4px; float:right;
        }
        [data-skill="5"] span::after{content:"***";position: relative; bottom:-4px; float:right;
        }
        [data-skill="7"] span::after{content:"****";position: relative; bottom:-4px; float:right;
        }
        #experiences h3{

        display: inline-block;
        padding-right: 24px;
        border-right: 1px solid black;
        height:270px;
        }

        #experiences  .experience{
          position: relative;
          bottom:307px;
          left: 130px;
          width: 800px;
        }
          .experience-location{
            float: right;
            margin: -40px 125px 9px 0; 
            position: relative;
            color:grey;
            
           }
           .experience-date{
             float: right;  
             margin: -40px 29px 9px 0; 
             position: relative;
             color:grey;
            }
            #education h3{
              
                      display: inline-block;
                      padding-right: 38px;
                      border-right: 1px solid black;
                      height:270px;
                      position: relative;
                      bottom:275px;
                      
                      }
                     #education .experience{
                      position: relative;
                      bottom:580px;
                      left: 130px;
                      width: 800px;}

                      #hobbies h3{display: inline-block;
                        padding-right: 55px;
                        border-right: 1px solid black;
                        height:80px;
                        position: relative;
                        bottom:550px;}

                        #hobbies ul{position: relative;
                      bottom:670px;
                      left: 125px;
                      width: 800px;}
 

                     
                      h4{color:rgba(1, 106, 129, 0.925);}


                      .contact-type,.contact-value{display:none}
                            .contact-email{height: 100px;width:100px;
                             background-image: url(/home/ali/css-cv/images/email.png) ;
                             background-size: 100px 100px;
                             position: relative;
                             bottom:590px;
                             left: 160px;
                                    }
                       .contact-skype{
                        height: 100px;width:100px;
                        background-image: url(/home/ali/css-cv/images/phone.png) ;
                        background-size: 100px 100px;
                        position: relative;
                        bottom:705px;
                        left: 300px;
                                    }

                       .contact-phone{
                        height: 100px;width:100px;
                        background-image: url(/home/ali/css-cv/images/github.png);
                        background-size: 100px 100px;
                        position: relative;
                        bottom:820px;
                        left:440px;

                       }
                        
                        .contact-github
                        {
                          height: 100px;width:100px;
                          background: url(/home/ali/css-cv/images/facebook.png) right bottom no-repeat;
                          background-size: 100px 100px;
                          position: relative;
                          bottom:935px;
                          left:600px;
  
                         }
                        